{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- load header -->
{% include 'includes/header_user.html' %}

<!-- ========================= PATH CONTENT ========================= -->
<section class="py-3 bg-light">
  <div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Category name</a></li>
        <li class="breadcrumb-item"><a href="#">Sub category</a></li>
        <li class="breadcrumb-item active" aria-current="page">Items</li>
    </ol>
  </div>
</section>
<!-- ========================= SECTION CONTENT END ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
<div class="container">

<!-- ============================ ITEM DETAIL ======================== -->
<div class="row">
	<aside class="col-md-6">
        <div class="card">
        <article class="gallery-wrap"> 
            <div class="img-big-wrap">
            <div> <a href="#"><img src="{{ single_product.images.url }}"></a></div>
            </div> <!-- slider-product.// -->
            <div class="thumbs-wrap">
            <a href="#" class="item-thumb"> <img src="images/items/15.jpg"></a>
            <a href="#" class="item-thumb"> <img src="images/items/15-1.jpg"></a>
            <a href="#" class="item-thumb"> <img src="images/items/15-2.jpg"></a>
            <a href="#" class="item-thumb"> <img src="images/items/15-1.jpg"></a>
            </div> <!-- slider-nav.// -->
        </article> <!-- gallery-wrap .end// -->
        </div> <!-- card.// -->
	</aside>
	<main class="col-md-6">
    <article class="product-info-aside">

        <h2 class="title mt-3">{{ single_product.product_name }}</h2>

        <div class="rating-wrap my-3">
            <ul class="rating-stars">
                <li style="width:80%" class="stars-active"> 
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                    <i class="fa fa-star"></i> 
                </li>
                <li>
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                    <i class="fa fa-star"></i> 
                </li>
            </ul>
            <small class="label-rating text-muted">132 reviews</small>
            <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
        </div> <!-- rating-wrap.// -->

        <div class="mb-3"> 
            <var class="price h4">USD {{ single_product.price}}</var> 
            <!-- <span class="text-muted">USD 562.65 incl. VAT</span>  -->
        </div> <!-- price-detail-wrap .// -->

        <p>{{ single_product.description }}</p>


        <dl class="row">
            <dt class="col-sm-3">Delivery time</dt>
            <dd class="col-sm-9">3-4 days</dd>

            <dt class="col-sm-3">Availabilty</dt>
            {% if single_product.stock <= 0 %}
                <dd class="col-sm-9 text-danger">Out of Stock</dd>
            {% else %}
                <dd class="col-sm-9">in Stock</dd>
            {% endif %}
        </dl>

        <div class="form-row  mt-4">
            <div class="form-group col-md flex-grow-0">
                <div class="input-group mb-3 input-spinner">
                <div class="input-group-prepend">
                    <button class="btn btn-light" type="button" id="button-plus"> + </button>
                </div>
                <input type="text" class="form-control" value="1">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                </div>
                </div>
            </div> <!-- col.// -->
            <div class="form-group col-md">
                {% if in_cart %}
                <a href="#"  class="btn  btn-success"> 
                    <i class="fas fa-check"></i> <span class="text">Added to cart</span> 
                </a>
                <a href="{% url 'cart' %}"  class="btn  btn-outline-primary"> 
                    <i class="fas fa-eye"></i> <span class="text">View cart</span> 
                </a>
                {% else %}
                <a href="{% url 'add_cart' single_product.id %}"  class="btn  btn-primary"> 
                    <i class="fas fa-shopping-cart"></i> <span class="text">Add to cart</span> 
                </a>
                {% endif %}
            </div> <!-- col.// -->
        </div> <!-- row.// -->

    </article> <!-- product-info-aside .// -->
	</main> <!-- col.// -->
</div> <!-- row.// -->

<!-- ================ ITEM DETAIL END .// ================= -->


<!-- ================ CUSTOMER REVIEW ================= -->
</br>
<div class="row">
    <div class="col-md-9">

    <header class="section-heading">
        <h3>Customer Reviews </h3>  
    </header>

    <article class="box mb-3">
        <div class="icontext w-100">
            <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
            <div class="text">
                <span class="date text-muted float-md-right">24.04.2020 </span>  
                <h6 class="mb-1">Mike John </h6>
                
            </div>
        </div> <!-- icontext.// -->
        <div class="mt-3">
            <p>
                Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip
            </p>	
        </div>
    </article>
    </div> <!-- col.// -->
</div> <!-- row.// -->

<!-- ================ CUSTOMER REVIEW END ================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- load header -->
{% include 'includes/subscribe.html' %}


</body>
</html>
{% endblock %}